.features {
    @media screen and (min-width: 1200px) {
        padding: 120px 0 100px;
    }
    &__list {
        padding-top: 3rem;
        border-top: 1px solid rgba($color: #2C3C64, $alpha: 0.4);
    }
    @media screen and (max-width: 767px) {
        &__list {
            padding-top: 2rem;
        }
    }
}

.feature {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    color: #000;

    @media screen and (min-width: 992px) {
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }
    &:nth-child(odd) &__info {
        padding-right: 100px;
    }
    &:nth-child(even) &__info {
        padding-left: 100px;
    }
    &:not(:last-child) {
        margin-bottom: 170px;
    }
    &__info {
        width: 50%;
    }
    &__media {
        width: 50%;
        padding: 3rem;
        text-align: center;
        border-radius: 12px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        &--oversize {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .feature:nth-child(even) & {
                align-items: flex-end;
            }
            .feature:nth-child(odd) & {
                align-items: flex-start;
            }
        }
        &--light-green {
            background: #F1F5F9;
        }
        &--light-red {
            background: #F4F4F4;
        }
        &--light-green2 {
            background: #EFF7FF;
        }
    }
    &__img {
        &-wrap {
            height: 360px;
            border: 8px solid var(--primary);
            border-radius: 6px;
            overflow: hidden;
            width: 750px;
        }
    }
    &__btn {
        margin-top: 3rem;
        align-self: center;
    }
    &__tag {
        margin-bottom: 1rem;
    }
    &__title {
        margin-bottom: 2rem;
        @media screen and (min-width: 1200px) {
            font-size: 44px;
        }
    }
    @media screen and (max-width: 1399px) {
        &__img {
            &-wrap {
                width: 630px;
            }
        }
    }

    @media screen and (max-width: 1199px) {
        &:not(:last-child) {
            margin-bottom: 100px;
        }
        &:nth-child(odd) &__info {
            padding-right: 50px;
        }
        &:nth-child(even) &__info {
            padding-left: 50px;
        }
        &__img {
            &-wrap {
                height: auto;
                width: 100%;
            }
        }
    }
    @media screen and (max-width: 991px) {
        flex-direction: column;
        
        &:not(:last-child) {
            margin-bottom: 50px;
        }
        &:nth-child(odd) &__info {
            padding-right: 0px;
        }
        &:nth-child(even) &__info {
            padding-left: 0px;
        }
        &__info {
            width: 100%;
            margin-bottom: 25px;
        }
        &__media {
            width: 100%;
            padding: 2rem;
        }
        &__btn {
            margin-top: 2rem;
        }
    }
    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        &__title {
            margin-bottom: 1.5rem;
        }
        &__media {
            padding: 1.5rem;
        }
    }
    @media screen and (max-width: 575px) {
        &__media {
            padding: 1rem;
        }
        &__btn {
            margin-top: 1.5rem;
        }
    }

}

.tag {
    display: inline-block;
    padding: 8px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    &--yellow {
        background: #FFE377;
        color: #404040;
    }
    &--blue {
        background: #78ADE5;
        color: #fff;
    }
}

.check-list {
    list-style: none;
    padding: 0;
    margin: 0;
    &__title {
        font-size: 1.13em;
        margin-bottom: 0.5rem;
        color: #2C2C2C;
    }
    &__item {
        position: relative;
        padding-left: 3rem;
        &:before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 5px;
            left: 0;
            background-image: url(../images/dist/check.svg);
        }
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
    @media screen and (max-width: 767px) {
        &__item {
            padding-left: 2rem;
        }
    }
}